node_modules/
bin/
obj/
dist/
*.trx
coverage/
playwright-report/
test-results/
src/frontend/results.json
src/frontend/landing.png
.DS_Store

gh-600-lab-starter.code-workspace
src/frontend/package-lock.json